* {
  box-sizing: border-box;
}

.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  padding: 20px;
  border: 1px solid;
  width: auto;
  margin: 20px;
  list-style: none;
}

.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  padding: 20px;
  border: 1px solid;
  width: auto;
  margin: 20px;
  list-style: none;
}

.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  padding: 20px;
  border: 1px solid;
  width: auto;
  margin: 20px;
}

/* Write your code here. */
.button {
  max-width: 80px;
  height: 40px;
  padding: 5px;
  background-color: #ffffff;
  border: 2px solid #326a9d;
  color: #326a9d;
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
}
.header {
  font-size: 25px;
  color: #326a9d;
}
.ul-item {
  list-style: none;
  align-self: inherit;
  padding: none;
  margin: none;
}
.para-text {
  color: #326a9d;
  font-size: 16px;
}
